<app-nav-bar></app-nav-bar>

<form>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
          <div class="card mt-5">
            <h4 class="card-header text-center">ViewBackup</h4>
            <div class="card-body bg-light p-4">
              <div class="form-group">
                <div class="container">
                  <div class="form-check form-check-inline">
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date">
                  </div>
                  <div class="form-check form-check-inline">
                    <button type="submit">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>



  



