/* .card
{
  
   align-content: center;
   position: relative;
   width: 80%;
   top: 40px;
   left:50%;
   padding: 40px;
   font-family: sans-serif;
   background: rgb(214, 213, 213);
   border: none;
   font-family: sans-serif;
   font-weight: 400;

} */
#error {
    font-size: 14px;
    color: red;
    
  }
input[type="text" ]
{
    border-radius: none !important;
}
.card
  {
   
      align-content: center;
      box-shadow: 5px 5px 5px #ebe7e7;
      padding:20px;
      color: white;
      font-family: sans-serif;
      background: #03174b;
      border: none;
      position: relative;
      width: 80%;
      top: 40px;
      left:50%;
      /* text-align: center; */
      border: 1px solid grey;
    }
.card h2{
    text-align: center;
}
a{
    margin-left: 5px;
    margin-top: 50px;
    font-size:12px;
    color:white;
}
.form-group
{
    margin-top: 10px;
}
select#inlineFormCustomSelect {
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
}
button {
    background-color: #03174b;
    border-radius: 0px;
    margin-top: 20px;
    height: 40px;
    width: 50%;
    font-size: 20px;
    color: white;  
    border:1px solid rgb(255, 255, 255);
    text-align: center;
   }
 
  
  
