<app-nav-bar></app-nav-bar>


<div class="container mt-3">
  <div class="card">
    <h2 class="card-header text-center"><b>Select Database</b></h2>
    <div class="form-group">
      <div class="radio-container">
        <label>
          <input type="radio" name="radioBtn" [(ngModel)]="selectedOption" value="MongoDB" (click)="showCalendarIcon()">
          <span class="radio-label">MongoDB</span>
        </label>
        <label>
          <input type="radio" name="radioBtn" [(ngModel)]="selectedOption" value="MySQL" (click)="showCalendarIcon()">
          <span class="radio-label">MySQL</span>
        </label>
        
      </div>
      <div *ngIf="showIcon">
        <mat-form-field>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <ul>
        <button class="btn btn-dark" (click)="showCalendarIcon()">Load</button>
        <!-- <img src={{image.message}}/> -->
        </ul>
      </div>
    </div>
  </div>
</div>






  





